GAUBEE_2FA_HTTP_PORT=8080
GAUBEE_2FA_GRPC_PORT=50051
GAUBEE_2FA_ADMIN_PORT=4173
GAUBEE_2FA_SERVER_UPSTREAM=http://server:8080
GAUBEE_2FA_ADMIN_TOKEN=change-me
GAUBEE_2FA_DB=sqlite
GAUBEE_2FA_DATABASE_URL=sqlite:///data/gaubee-2fa.db?mode=rwc
POSTGRES_USER=gaubee
POSTGRES_PASSWORD=gaubee
POSTGRES_DB=gaubee_2fa
